html {
    font-family: 'Raleway', sans-serif;
    padding-left: 1rem;
    
}

body {
    display: grid;
  place-items: center;
}

h2 {
    font-size: 1.5rem;
}

button {
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }

.label-display {
    color: #2f5d8c;
}

#computer-choice, #user-choice, #result {
    color: #a0a598;
}

.cute-buttons {
    text-align: center;
}

#rock, #paper, #scissors {
    width: 60px;
    height: 30px;
    border-style: none;
    background-color: #f6f6f6;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
}

button {
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }


  